body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mate-black);
  color: var(--seashell);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* global styles */

:root{
  --beige: #E2DAC9;
  --mate-black: #171717;
  --seashell: rgb(255, 245, 238);
}

.bold{
  font-weight: bold;
}

/* navbar */

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--beige);
}

.navbar-logo-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar--logo{
  width: 38px;
}

.navbar--title-logo{
  width: 80px;
  margin-left: 5px;
}

/* hero */

.hero{
  width: 100%;
  position: relative;
}

video{
  width: 100%;
  max-height: 800px;
  object-fit: cover;
}

.logo-letters{
  width: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 948px){
  video{
    height: 500px;
  }
}

@media only screen and (min-width: 600px){
  .logo-letters{
    width: 15rem;
  }
}

/* main */

main{
  display: grid;
  place-items: center;
}

/* about */

.about{
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}



h1{
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0 0 20px 0;
  color: var(--beige);
}

h2{
  font-size: 1.2rem;
  padding: 20px 0;
  color: var(--beige);
}

@media only screen and (min-width: 768px){
  .about{
    width: 100%;
  }

  .about-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
    width: 80%;
  }
}

/* gallery */

.gallery{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 40px;
}

@media only screen and (min-width: 1024px){
  .gallery{
    flex-direction: row;
  }
}
/* card */

.card{
  width: 100%;
  text-decoration: none;
  display: block;
  color: var(--seashell);
  position: relative;
}

.image{
    width: 100%;
}

.card-info{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(72, 72, 72, 0.7);
}

.card-info p{
  padding: 2px 10px;
}

.fa-user{
  margin-right: 5px;
}

.price{
  position: absolute;
  top: 10px;
  right: 0;
  padding: 10px 20px;
  background-color: #171717;
}

/* footer */

footer{
  background-color: var(--beige);
  padding: 2rem;
  display: grid;
  place-items: center;
  color: black;
}

.footer--logo{
  width: 120px;
  margin-bottom: 20px;
}

.fa-whatsapp{
  font-size: 1.2rem;
  color: #25D366;
}

h4{
  text-align: center;
  margin-bottom: 10px;
}

.whatsapp-btn{
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0px 3px 0px #c0c0c0;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 0px #fff;
  transition: box-shadow 0.2s ease-in-out;
}

.whatsapp-btn:hover {
  box-shadow: 0px 5px 0px #c0c0c0;
}